/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #00feba, #5b548a);
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: margin-left 0.3s;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 260px;
}

h1, h2 {
    text-align: center;
    color: #5b548a;
    margin-bottom: 20px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    overflow-x: hidden;
    transition: width 0.3s;
}

.sidebar .logo {
    padding: 20px;
    text-align: center;
}

.sidebar .toggle-btn {
    position: absolute;
    top: 20px;
    right: -40px;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: white;
    text-align: left;
    line-height: 40px;
    cursor: pointer;
    transition: right 0.3s;
}

.sidebar .nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar .nav li {
    padding: 15px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar .nav li:hover {
    background-color: #5b548a;
}
.sidebar .nav li.active {
    background-color: #5b548a;
    color: white;
}

hr {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #555;
}

.section {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: none;
}

.section.active {
    display: block;
}

html {
    scroll-behavior: smooth;
}

.sidebar.closed {
    width: 60px;
}

.sidebar.closed .toggle-btn {
    right: -30px;
}

.sidebar.closed .nav li {
    text-align: left;
    padding: 15px 10px;
    white-space: nowrap;
}

.sidebar.closed .logo {
    display: none;
}

.sidebar.closed + .container {
    margin-left: 70px;
}

#sampler {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.input-row {
    margin-bottom: 15px;
}

.input-row label {
    display: inline-block;
    width: 140px;
    margin-right: 10px;
    vertical-align: middle;
}

.input-row label.radio-label {
    width: 55px;
    margin-left: 4px;
}

.input-row input[type="number"],
.input-row input[type="radio"] {
    vertical-align: middle;
    margin-right: 5px;
}

.output-options {
    margin-top: 15px;
}

.output-options div {
    margin-bottom: 10px;
}

.output-options label {
    margin-left: 5px;
}

.button-row {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-row button {
    padding: 10px 20px;
    background-color: #5b548a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-row button:hover {
    background-color: #3e3860;
}

.label-input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.label-input-group:last-child {
    border-bottom: none;
}

.radio-group {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    align-items: center;
}

.radio-group input[type="radio"] {
    transform: scale(0.8);
    margin-right: 2px;
}

.radio-group label {
    width: 30px;
    margin-right: 4px;
    font-size: 10px;
    color: #3e3860;
}

input[type="number"], input[type="text"], input[type="radio"] {
    border: 0.7px solid #6751e2;
    border-radius: 30px;
    padding: 8px;
}

button {
    background-color: #6751e2;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #544991;
}

.radio-group input[type="radio"] {
    transform: scale(1);
    margin-right: 5px;
    vertical-align: middle;
}

input[type="number"], input[type="text"], .label-input-group, .section {
    border-color: #3e3860;
}

.output-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.output-box {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
}

/* Adding a subtle styling to labels within the result container for ofdm */
.result-box {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333; /* Ensures text inside the result box is visible */
}

/* Adding a subtle styling to labels within the result container for better readability */
.result-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

 
